body {
    display:block;
    margin:0 auto;
}
header {
    display:block;
    width:auto;
    height:20vh;
}
main {
    display:block;
    width:auto;
    height:80vh;
    background-color:grey;
}
footer {
    display:block;
    width:auto;
    height:5vh;
    background-color:green;
}

header #user {
    float: left;
    width: 20%;
    height: 100%;
    background-color: pink;

}
#user img {

}
#user nav {

}



header #info {
    float: left;
    width: 60%;
    height: 100%;
    background-color:purple;
    
}
#info #dir {
    float:left;
    width: 70%;
}
#dir #dir_name {
    display: block;
    height: 50%;
    font-family: sans-serif;
    font-size: 50px;

}
#dir #dir_config {

}
#dir_config .path_link:hover{
        text-decoration:underline;
}

#info #db {
    float:left;
    width: 30%;
    background-color: aquamarine;

}
#info #path {

}
#dir_note {
        
}

header #dir_note {
    float: left;
    width: 20%;
    height: 100%;
    background-color:pink;
}
main#center {
    float:left;
    width:60%;
    text-align: center;
    background-color:aliceblue;
}

#center #file_config {
    display: block;
    text-align: left;
    background-color: burlywood;
}
#file_config * {
    position: relative;
}
#file_config #add_dir {
    margin: 20px 20px 0px 0px;
}
#file_config #sortby {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
}


#center #search {
    display: inline;
    padding-right: 10%;
    padding-left: 2%;
}
#center #search input[type="textarea"]{
    width: 20%;
}
#center #search #searchby{
}
#center #upload{
    display: inline;
    padding-right: 30px;
    padding-left: 30px;
}
#center #upload input[type="file"]{
    width: 25%;
}

#center #file_block {
    display: block;
    background-color: aliceblue;
}
#file_block .rename_block {
    display: block;
    position: absolute;
    background-color: aquamarine;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 40%;

}
.rename_block #newname_block {
    display: inline;
    position: relative;
    width: 70%;
    height: 30%;
    margin: 20px 10px 20px 20px;
    top: 10%;
    font-size: 15px;
}
.rename_block #rename {
    display: inline;
    position: relative;
    top: 10%;
    font-size: 25px;
}

#center #page {
    position: absolute;
    display: block;
    height: 40px;
    width: 60%;
    bottom: 0px;
    background-color: black;
}


aside#left {
    float:left;
    width:20%;
    height: 100%;
    background-color:blue;
}
aside#left #file_info {
    display: block;
    height: 60%;
    background-color: beige;
    overflow: scroll;
}
aside#left #file_info #file_image{
position: relative;
display: block;
width: 100px;
height: 100px;
background: aquamarine;
left: 50%;
margin-left: -50px;
}
aside#left #file_info #file_content{
position: relative;
display: block;
width: 100%;
height: 100px;
background: blueviolet;
}
aside#left #file_info #file_descrip{
position: relative;
display: block;
width: 100%;
background: aquamarine;
}
aside#left #file_info #file_tag{
position: relative;
display: block;
width: 100%;
background: cadetblue;
bottom : 0px;
}
aside#left #edit_descrip{
  width: 30px;
}
aside#left #edit_tag{
  width: 30px;
}
aside#left #des_block{
display: block;
width: 95%;
margin: 5px auto;
word-break: break-all;
}
aside#left #tag_block{
display: block;
width: 95%;
margin: 5px auto;
word-break: break-all;
}
aside#left #upload_status {
    display: block;
    height: 40%;
    background-color: grey;
    overflow: scroll;
}

aside#right {
    float:left;
    width:20%;
    height: 100%;
    background-color:blue;
    text-align:center;
}
#right #search {
    display: block;
    height: 10%;
    background-color: chocolate;
}
#right #search input[type="texterea"]{
    margin-top: 10%;
}
    
#right #dir_list {
    display: block;
    height: 90%;
    background-color: antiquewhite;
}

.files {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blocks {
    display:block;
    position: absolute;
    width: 100px; 
    background-color: black;   

}
.control_block {
    position: relative;
    width: 100px; 
    height: 25px;
    background-color: hotpink;   
}
.control_block:hover{
    background-color: yellow;   
}
#move_block{
position: fixed;
display: block;
clear: left;
width: 300px;
height: 300px;
background: brown;
padding: 20px;
margin: 0px auto;
top: 20%;
left: 50%;
margin-left: -150px;
z-index: 1;
}
#move_block #move_path{
display: block;
background: azure;
height: 40px;
line-height: 40px;
}
#move_block #list_block{
display: block;
margin: 10px;
padding: 10px;
height: 200px;
background: chocolate;
overflow: scroll;
}
#move_block #move_block_action{
display: block;
height: 25px;
line-height: 25px;
background: aliceblue;   
}
#move_block #move_block_action #move_block_check{
display: block;
width: 100px;
background: aquamarine;
border-radius: 10px;
}

#list_block .move_list{
    color: white;
    padding: 5px;
}
#list_block .self{
    color: grey;
    padding: 5px;
}
#get_form {
    display: none;
}
#del_form {
    display: none;
}
#re_form {
    display: none;
}

.dir {
    background-color: #DAECFF
}
.pdf {
    background-color: #E8A90C;
}
.ppt {
    background-color: brown;
}
.doc {
    background-color: #CC4A14;
}
.xls {
    background-color: #007BFF;
        
}
.zip {
    background-color: #40FF40;

}
.json {
    background-color: #F0CFFF;
        
}
.image {
    background-color: #0DEDFF;

}
.audio {
    background-color: #D0B1E8;
        
}
.default {
    background-color: darksalmon;
}


.error {
      font-size: 30px;
      font-family: sans-serif;
}
